/* JobCard.css */
.card {
  background-color: #f8f9fa; /* Light background color for the card */
}

.card-body {
  padding: 1.5rem;
}

.card-body .d-flex {
  width: 100%;
}

.card-body .d-flex .mb-1,
.card-body .d-flex .mb-3 {
  font-size: 14px;
  color: #6c757d;
}

.card-body .btn {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Mobile view styles */
@media (max-width: 767px) {
  .card-body .d-flex {
    flex-direction: column;
    align-items: stretch;
  }

  .card-body .d-flex .mb-3 {
    margin-bottom: 1rem;
  }
}

/* Desktop view styles */
@media (min-width: 768px) {
  .card-body .d-flex {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .card-body .d-flex .mb-3 {
    margin-bottom: 0;
  }

  .card-body .d-flex .w-100 {
    max-width: 250px;
  }

  .card-body .d-flex .w-md-auto {
    max-width: none;
  }
}
