.hero-wrapper {
  position: relative;
  padding: 40px 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.hero-text {
  width: 45%;
}

.hero-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 1.2;
}

.hero-sub {
  margin-top: 18px;
  font-size: 18px;
  color: #444;
}

.hero-image {
  width: 48%;
  object-fit: cover;
}

/* Pagination */
.pagination {
  margin-top: 36px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.page-num {
  font-size: 18px;
  font-weight: 600;
}

.progress-bar {
  width: 50px;
  height: 2px;
  background: #ccc;
  position: relative;
  overflow: hidden;
}

.progress-inner {
  height: 100%;
  background: #2e4f43;
  position: absolute;
  left: 0;
}

.pink-strip {
  position: absolute;
  right: 0;
  top: 0;
  width: 35%; /* Cover half of the right side */
  height: 100%;
  background: #e4bcc6; /* Pink color */
  z-index: 0;
}

.hero-image-wrap {
  width: 604px;           
  aspect-ratio: 604 / 513;   
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #fffefb;
}

.hero-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;  
}


/* Mobile */
@media (max-width: 768px) {

    .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-image-wrap {
    width: 100%;
    max-width: 604px;
    margin: 0 auto;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    width: 100%;
  }

  .hero-image {
    width: 100%;
    margin-top: 28px;
  }

  .pagination {
    justify-content: center;
    margin: 22px 0 0;
  }

  .hero-text h1 {
    font-size: 40px;
    line-height: 1.8em;
  }

  .progress-bar {
    width: 250px;
  }

  .pink-strip {
    position: absolute;
    right: 0;
    top: 57%;
    width: 100%; /* Cover half of the right side */
    height: 39.5%;
    background: #e4bcc6; /* Pink color */
    z-index: 0;
  }
}
