.hero-wrapper {
  position: relative;
  padding: 40px 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.hero-text {
  width: 45%;
}

.hero-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  line-height: 1.2;
}

.hero-sub {
  margin-top: 18px;
  font-size: 18px;
  color: #444;
}

.hero-image {
  width: 48%;
  object-fit: cover;
}

/* Pagination */
.pagination {
  margin-top: 36px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.page-num {
  font-size: 18px;
  font-weight: 600;
}

.progress-bar {
  width: 50px;
  height: 2px;
  background: #ccc;
  position: relative;
  overflow: hidden;
}

.progress-inner {
  height: 100%;
  background: #2e4f43;
  position: absolute;
  left: 0;
}

.pink-strip {
  position: absolute;
  right: 0;
  top: 0;
  width: 35%; /* Cover half of the right side */
  height: 100%;
  background: #e4bcc6; /* Pink color */
  z-index: 0;
}

/* Mobile */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    width: 100%;
  }

  .hero-image {
    width: 100%;
    margin-top: 28px;
  }

  .pagination {
    justify-content: center;
    margin: 22px 0 0;
  }

  .hero-text h1 {
    font-size: 35px;
  }

  .progress-bar {
    width: 250px;
  }

  .pink-strip {
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%; /* Cover half of the right side */
    height: 39.5%;
    background: #e4bcc6; /* Pink color */
    z-index: 0;
  }
}
