.glass-header {
  background: #fdf7f5;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #375956 !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

/* Active Link Styles */
.nav-link.active-link {
  text-decoration: underline; /* Underlines the active link */
  font-weight: bolder; /* Optional: Make active link bold */
  color: #375956;
  text-underline-offset: 4px;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-close {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  opacity: 1;
}

.header-wrapper {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.offcanvas-end {
  width: 100% !important;
  max-width: 100% !important;
  background: #fdf7f5;
}

.offcanvas-backdrop.show {
  background-color: rgba(0, 0, 0, 1) !important;
}

.nav-hidden {
  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;
}

/* .nav-visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
} */

.offcanvas-body {
  overflow-y: visible;
}
