/* --- DESKTOP LAYOUT --- */

.testimonial-wrapper {
  position: relative;
  /* no fixed height, let image decide */
}

.desktop-img-wrapper {
  width: 100%;
}

.desktop-img {
  width: 100%;
  height: auto; /* keeps original aspect ratio – no crop */
  display: block;
}

/* hide mobile image on desktop */
.testimonial-img {
  display: none;
}

.testimonial-card {
  background: #385e5c;
  color: #ecdcc7;
  padding-inline: 40px;
  padding-block: 60px;
  max-width: 450px;
  height: 300px;
  position: absolute;
  right: 5%;
  bottom: 20%; /* adjust as per your visual preference */
  z-index: 2;
  /* let height be auto so text can grow */
}

.globe-card {
  background: #385e5c;
  color: #ecdcc7;
  padding: 40px;
  height: 270px;
  width: 500px;
}

.testi-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.event-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}

.testi-text {
  font-size: 16px;
  line-height: 1.8em;
}

.card-nav {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static !important;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.15);
  padding: 10px;
  backdrop-filter: blur(4px);
  border-radius: 50%;
  color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 12px;
  color: white;
}

/* --- MOBILE VIEW --- */

@media (max-width: 768px) {
  .testimonial-wrapper {
    display: block;
    height: auto;
  }

  .desktop-img-wrapper {
    display: none; /* hide desktop image on mobile */
  }

  .testimonial-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .testimonial-card {
    width: 78%;
    margin: -200px 60px 0;
    padding: 25px;
    position: relative;
    right: 0%;
    bottom: auto;
    height: 300px;
  }
  .globe-card {
    background: #385e5c;
    color: #ecdcc7;
    padding-inline: 40px;
    padding-block: 60px;
    height: 300px;
    width: 330px;
  }
  .testi-title {
  font-size: 24px;
}
}
