* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-manrope {
  font-family: var(--font-inter);
}

.heading-font {
  font-family: var(--font-georgia);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #fff;
}

:root {
  --font-manrope: var(--font-manrope);
  --font-playfair: var(--font-playfair);
}

body {
  font-family: var(--font-manrope), sans-serif;
  font-weight: 400;
}

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.fw-regular {
  font-weight: 400;
}
.fw-medium {
  font-weight: 500;
}
.fw-semibold {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}
